<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/" >

    <appender name="stdout" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" /> 
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy/MMM/dd HH:mm:ss.SSS} [%-5p] %m (%l)%n" />
        </layout>
    </appender>

    <!-- 処理ログ ファイル出力用Appender -->
    <appender name="Process_File_Appender" class="org.apache.log4j.RollingFileAppender">
        <param name="File" value="/home/javagame/logs/info.log" />
        <param name="MaxBackupIndex" value="10" />
        <param name="MaxFileSize" value="10MB" />
        <param name="Append" value="true" />
        <param name="Encoding" value="UTF-8" />
        <param name="Threshold" value="INFO" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{yyyy/MMM/dd HH:mm:ss.SSS} [%-5p] %m (%l)%n" />
        </layout>
    </appender>

    <root>
        <appender-ref ref="stdout"/>
        <appender-ref ref="Process_File_Appender"/>
    </root>
</log4j:configuration>